<main id="mengulik-pendidikan" class="z-10 mx-auto flex h-fit w-4/5 flex-col items-center text-gray-50">
  <span class="absolute z-0 h-40 w-40 bg-[#ff85ad] opacity-50 [filter:blur(8rem)]" />
  <section class="mb-8 grid grid-cols-1 place-items-center gap-x-10 xl:grid-cols-2">
    <img src="/makanan-tradisional.jpg?url" alt="Siswa Membaca Buku" class="mt-8 w-full rounded-xl font-semibold text-gray-50 transition-all duration-300 ease-in-out [box-shadow:0.3rem_0.3rem_0_#bcbcbc] xl:mt-0 xl:h-4/5" loading="lazy" />
    <h5 class="mt-8 cursor-default text-justify leading-relaxed xl:mt-0">
      Setiap daerah di Jawa Timur pasti punya makanan khas yang layak dicicipi
      para pencinta kuliner. Kekhasan masakan Jawa Timur identik dengan
      rempah-rempah, rasa pedas, gurih dan sedikit asin. Makanan khas Jawa Timur
      punya cita rasa yang cenderung gurih, asam, dan pedas karena biasanya
      ditambahkan terasi dan petis sebagai bumbunya. Tak hanya itu, makanan khas
      Jawa Timur juga umumnya dimasak dengan cara dikukus, dibakar, dipepes, dan
      digoreng. Proses memasaknya dilakukan hingga makanan matang dengan
      sempurna.
    </h5>
  </section>
</main>

<style scoped>
  main h5::first-letter {
    float: left;
    font-size: 6rem;
    font-weight: bold;
    line-height: 4rem;
  }
  section > img:hover {
    transform: scale(1.05);
  }
</style>