<main class="z-10 mt-8 grid h-fit w-full place-items-center">
  <span class="absolute top-[125rem] z-0 h-40 w-40 bg-[#2c862c] [filter:blur(8rem)]" />
  <section class="flex h-fit w-4/5 cursor-default flex-col items-center">
    <div class="grid grid-cols-1 place-items-start gap-x-10 lg:grid-cols-2">
      <h4 class="hidden text-justify font-medium text-gray-50 lg:block">
        Perguruan Tinggi adalah satuan pendidikan yang menyelenggarakan
        pendidikan tinggi. Perguruan tinggi merupakan jenjang pendidikan setelah
        pendidikan menengah yang mencakup program diploma, program sarjana,
        program magister, program doktor, dan program profesi, serta program
        spesialis, yang diselenggarakan oleh perguruan tinggi berdasarkan
        kebudayaan bangsa Indonesia. Peserta didik pada perguruan tinggi disebut
        dengan mahasiswa, sedangkan tenaga pendidiknya disebut dosen.
      </h4>
      <h4 class="text-justify font-medium text-gray-50">
        Sebagai salah satu provinsi yang menempati jumlah penduduk terbanyak di
        Indonesia, Jawa Timur juga menaruh perhatian penting terhadap kemajuan
        pendidikan yang ditandai dengan banyaknya perguruan tinggi yang tersebar
        di wilayah tersebut. Setidaknya, ada 311 perguruan tinggi dalam bentuk
        universitas atau lainnya yang berada di Jatim, dengan status negeri
        maupun swasta.
      </h4>
    </div>
  </section>
</main>

<style scoped>
  main h4::first-letter {
    float: left;
    font-size: 6rem;
    font-weight: bold;
    line-height: 4rem;
  }
</style>