@media screen and (max-width: 3120px) {
  .navbar {
    color: #f9fafb;
  }
  .splide__1 {
    & .splide__arrow,
    & .splide__pagination__page {
      display: none;
    }
  }
  .splide__1 .splide__slide > div:hover {
    transform: scale(1.035);
  }
}

@media screen and (max-width: 960px) {
  .splide__1 .splide__slide {
    width: 100% !important;
  }
}