---
import "bootstrap-icons/font/bootstrap-icons.css";
import "../../static/scss/component.scss";
import "../../static/scss/404.scss";
import Logo from "../../static/img/logo-black.png?url";
import { ScrollIndicator } from "../components/ScrollIndicator";
import { ScrollToTop } from "../components/ScrollToTop";
import { Header } from "../components/Header";
import NotFoundPage from "../layouts/404.vue";
import Footer from "../components/Footer.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404: Not Found!</title>
    <link rel="icon" href={Logo} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <ScrollIndicator client:only="react" />
    <ScrollToTop client:only="react" />
    <Header client:only="react" />
    <NotFoundPage />
    <Footer />
  </body>
  <script crossorigin="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/aos@next/dist/aos.js"
  ></script>
  <script type="text/javascript">
    AOS.init();
  </script>
</html>