---
import "bootstrap-icons/font/bootstrap-icons.css";
import "../../static/scss/component.scss";
import "../../static/scss/budaya.scss";
import Logo from "../../static/img/logo-black.png?url";
import { ScrollIndicator } from "../components/ScrollIndicator";
import { ScrollToTop } from "../components/ScrollToTop";
import { Header } from "../components/Header";
import BudayaPage from "../layouts/budaya.vue";
import Footer from "../components/Footer.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Budaya</title>
    <link rel="icon" href={Logo} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <ScrollIndicator client:only="react" />
    <ScrollToTop client:only="react" />
    <Header client:only="react" />
    <BudayaPage />
    <Footer />
  </body>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      new Splide(".splide__1", {
        drag: "free",
        perPage: 2,
        type: "loop",
        autoScroll: {
          speed: 1,
        },
      }).mount(window.splide.Extensions);
    });
  </script>
  <script crossorigin="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/aos@next/dist/aos.js"
  ></script>
  <script type="text/javascript">
    AOS.init();
  </script>
</html>