@media screen and (max-width: 2160px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}