@media screen and (max-width: 3120px) {
  .navbar {
    color: #f9fafb;
  }
  #jangan-khawatir {
    width: 25%;
    right: 38%;
  }
  .splide__1 {
    & .splide__arrow,
    & .splide__pagination__page {
      display: none;
    }
  }
  .splide__1 .splide__slide > div:hover {
    transform: scale(1.035);
  }
}

@media screen and (max-width: 1920px) {
  #jangan-khawatir {
    width: 40%;
    right: 30%;
  }
}

@media screen and (max-width: 960px) {
  #jangan-khawatir {
    width: 50%;
    right: 24%;
  }
  .splide__1 .splide__track {
    width: 150%;
  }
}

@media screen and (max-width: 640px) {
  #jangan-khawatir {
    width: 70%;
    right: 15%;
  }
  .splide__1 .splide__track {
    width: 300%;
  }
}