@media screen and (max-width: 3120px) {
  .blog-slider {
    width: 35%;
    max-height: 540px;
  }
  .splide__1 .splide__slide > a:hover,
  .splide__2 .splide__slide > div:hover {
    transform: scale(1.035);
  }
  .splide__2 {
    & .splide__pagination__page,
    & .splide__arrow {
      display: none;
    }
  }
}

@media screen and (max-width: 1920px) {
  .blog-slider {
    width: 40%;
  }
}

@media screen and (max-width: 1680px) {
  .blog-slider {
    width: 45%;
    max-height: 560px;
  }
}

@media screen and (max-width: 1280px) {
  .blog-slider {
    width: 55%;
  }
}

@media screen and (max-width: 960px) {
  #pendidikan-penting {
    grid-template: auto / auto;
    gap: 1.5rem;
    & h1 {
      text-align: center;
    }
  }
  #latest {
    display: grid;
    place-items: center;
  }
  #terbaru-di-pendidikan > div > div:first-child {
    display: none;
  }
  #terbaru-di-pendidikan > div > div:last-child {
    width: 100%;
  }
  .blogs {
    max-height: 11rem;
    height: 11rem;
  }
  .blog-slider {
    margin: 0;
  }
  #kami-percaya {
    grid-template: auto / auto;
    gap: 2.5rem;
    & h1 {
      margin: auto;
      text-align: center;
      order: 2;
    }
    & img {
      order: 1;
    }
  }
  #college-entry {
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .blogs {
    max-height: 9rem;
    height: 9rem;
  }
  #college-entry {
    height: 22.5rem;
  }
  #college-entry .splide__track {
    width: 200%;
  }
}

@media screen and (max-width: 640px) {
  .blogs {
    max-height: 8rem;
    height: 8rem;
  }
}