@media screen and (max-width: 2160px) {
  .navbar {
    color: #0f172a;
  }
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1280px) {
  .blog-slider {
    width: 55%;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 864px) {
  footer {
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}