@media screen and (max-width: 3120px) {
  .navbar {
    color: #0f172a;
  }
}

@media screen and (max-width: 1280px) {
  .blog-slider {
    width: 55%;
  }
}

@media screen and (max-width: 1160px) {
  .hero > div:first-child {
    height: 60%;
    width: 50%;
    margin-right: 20rem;
  }
}

@media screen and (max-width: 960px) {
  #beragam-jenis p {
    font-size: 1.75rem;
  }
}