@media screen and (max-width: 3120px) {
  .navbar {
    color: #f9fafb;
  }
  .splide__1 .splide__arrow,
  .splide__1 .splide__pagination__page {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .splide__1 .splide__slide {
    width: 100% !important;
  }
}