---
import { getCollection } from "astro:content";
import MainLayout from "@/common/main-layout.astro";

const KotaCard = await getCollection("kota-dan-desa").then(e => e.filter(e => e.data.category === "Kota"));
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("cari").addEventListener("input", () => {
      let has_result = false;

      document.querySelectorAll(".kota-item").forEach(item => {
        const title = item.querySelector("h2").textContent.toLowerCase();
        const is_match = title.includes((document.getElementById("cari") as HTMLInputElement).value.toLowerCase());
        item.classList.toggle("hidden", !is_match);
        has_result = has_result || is_match;
      });

      if (document.querySelector(".no-result")) (document.querySelector(".no-result") as HTMLElement).style.display = has_result ? "none" : "flex";
    });

    (document.getElementById("cari") as HTMLInputElement).dispatchEvent(new Event("input"));
  });
</script>

<MainLayout title="Jelajahi Keramaian di Perkotaan Jawa Timur!" description="">
  <main class="mx-auto mb-32 mt-60 h-fit w-4/5">
    <h2 class="cursor-default text-center text-4xl font-bold text-slate-50">
      Jelajahi Keramaian di Perkotaan Jawa Timur
    </h2>
    <section class="mx-auto mt-8 w-full lg:w-4/5">
      <label for="cari" class="hidden" />
      <input type="search" name="cari" id="cari" placeholder="Cari perkotaan Jawa Timur yang ingin dikunjungi..." class="h-full w-full rounded-lg border-2 border-slate-50 bg-slate-50 px-5 py-4 text-slate-950 focus:outline-none">
    </section>
    <section class="mb-14 grid grid-cols-1 grid-rows-1 gap-x-6 text-slate-50 md:grid-cols-2 lg:grid-cols-3">
      {KotaCard.map(kota =>
        <a href={`/cari-kabupaten/${kota.data.title.replace(/ /g, "-").toLowerCase()}`} class="kota-item mt-16 flex h-fit w-fit flex-col transition-all duration-300 ease-in-out">
          <div class="h-72 w-full lg:h-60">
            <img src={kota.data.image} alt={kota.data.title} class="h-full w-full rounded-lg object-cover [box-shadow:0.3rem_0.3rem_0_#bcbcbc]" />
          </div>
          <h2 class="group mt-4 text-center text-2xl font-bold text-slate-50 transition-all duration-300 ease-in-out lg:text-left">
            <span class="bg-gradient-to-r from-sky-500 to-sky-500 bg-[length:0%_0.125rem] bg-left-bottom bg-no-repeat transition-all duration-500 ease-out group-hover:bg-[length:100%_0.125rem]">
              {kota.data.title}
            </span>
          </h2>
          <h4 class="group mt-4 text-justify text-slate-50 transition-all duration-300 ease-in-out">
            <span class="bg-gradient-to-r from-sky-500 to-sky-500 bg-[length:0%_0.125rem] bg-left-bottom bg-no-repeat transition-all duration-500 ease-out group-hover:bg-[length:100%_0.125rem]">
              {kota.data.description}
            </span>
          </h4>
        </a>
      )}
    </section>
    <section class="no-result mx-auto flex h-full w-full flex-col items-center justify-center text-slate-50">
      <img src="/not-available.png?url" alt="Not Available" class="w-96 object-cover transition-all duration-300 ease-in-out lg:hover:scale-105" loading="lazy" />
      <h3 class="mt-4 cursor-default text-center text-4xl font-bold">Maaf, tidak ditemukan!</h3>
    </section>
  </main>
</MainLayout>
  
<style scoped>
  main section a:hover {
    filter: blur(0);
    transform: scale(1.05);
  }
  main section:hover a:not(:hover) {
    filter: blur(0.1rem);
    transform: scale(0.95);
  }
</style>