---
import Style from "../components/global/style.astro";
import ScrollIndicator from "../components/global/scroll-indicator.vue";
import Header from "../components/global/header.vue";
import ScrollToTop from "../components/global/scroll-to-top.vue";
import Footer from "../components/global/footer.vue";

const { description, title } = Astro.props;
---

<html lang="en" class="scroll-p-20 lg:scroll-p-28">
  <head>
    <meta name="description" content={description} />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href={"/logo-white.png"} />
    <Style />
  </head>
  <body class="overflow-x-hidden" style="background-image: linear-gradient(to right, #0c0c1e, #141414)">
    <ScrollIndicator client:only="vue" />
    <ScrollToTop client:only="vue" />
    <Header client:only="vue" />
    <slot />
    <Footer />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/js/splide.min.js" integrity="sha512-4TcjHXQMLM7Y6eqfiasrsnRCc8D/unDeY1UGKGgfwyLUCTsHYMxF7/UHayjItKQKIoP6TTQ6AMamb9w2GMAvNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>